@model beeftechee.ViewModels.BurgerDrinkViewModel
@using beeftechee.Services
@{
    ViewBag.Title = "Menu";
}






<section class="food_menu gray_bg myMarginTop">
    <div class="container">
        <div class="row justify-content-between">
            <div class="col-lg-5">
                <div class="section_tittle">

                    <h2>Our Menu</h2>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="nav nav-tabs food_menu_nav" id="myTab" role="tablist">
                    <a class="active" id="Burger-tab" data-toggle="tab" href="#Burger" role="tab"
                       aria-controls="Burger" aria-selected="false">
                        Burgers <img src="~/Content/img/icon/play.svg"
                                     alt="play">
                    </a>
                    <a id="Drink-tab" data-toggle="tab" href="#Drink" role="tab" aria-controls="Drink"
                       aria-selected="false">Drinks <img src="~/Content/img/icon/play.svg" alt="play"></a>
                    <a id="CustomBurger-tab" data-toggle="modal" href="#" role="tab" aria-controls="CustomBurger"
                       aria-selected="false" data-target="#burgerModal">Make your own Burger <img src="~/Content/img/icon/play.svg" alt="play"></a>


                </div>
            </div>
            <div class="col-lg-12">
                <div class="tab-content" id="myTabContent">
                    <div class="tab-pane fade show active single-member" id="Burger" role="tabpanel"
                         aria-labelledby="Burger-tab">
                        <div class="row">
                            <div class="col-sm-12 col-lg-12">

                                @foreach (var burger in Model.Burgers)
                                {
                                    <div class="single_food_item media">
                                        <img src="~/Content/BurgerImages/@burger.ImageUrl" class="mr-3" alt="...">
                                        <div class="media-body align-self-center">
                                            <h3>@burger.Name</h3>
                                            <p>
                                                Ingredients :
                                                <span>@burger.Bread.Name, </span>
                                                <span>@burger.Meat.Name, </span>

                                                @if (burger.Cheese != null)
                                                {
                                                    <span>@burger.Cheese.Name, </span>
                                                }
                                                @if (burger.Sauce != null)
                                                {
                                                    <span>@burger.Sauce.Name, </span>
                                                }
                                                @if (burger.Veggie != null)
                                                {
                                                    <span>@burger.Veggie.Name </span>
                                                }
                                            </p>
                                            <h5>€ @burger.Price</h5>
                                            @using (Html.BeginForm("AddToCartBurger", "Cart", FormMethod.Post, htmlAttributes: new { @class = "myFormBurger" }))
                                            {
                                                @Html.AntiForgeryToken()
                                                @Html.Hidden("BurgerId", burger.Id)
                                        <div class="form-group text-right addtoCartButton pr-2">

                                            <input type="submit" value="Add to Cart" class="genric-btn primary circle arrow" />

                                        </div>
                                            }


                                        </div>
                                    </div>
                                }

                            </div>
                        </div>
                    </div>
                    <div class="tab-pane fade single-member" id="Drink" role="tabpanel"
                         aria-labelledby="Drink-tab">
                        <div class="row">
                            <div class="col-sm-12 col-lg-12">
                                @foreach (var drink in Model.Drinks)
                                {
                                    <div class="single_food_item media">
                                        <img src="~/Content/DrinkImages/@drink.ImageUrl" class="mr-3" alt="...">
                                        <div class="media-body align-self-center">
                                            <h3>@drink.Name</h3>
                                            <p>@drink.Litre lt</p>
                                            <h5>€ @drink.Price</h5>
                                            @using (Html.BeginForm("AddToCartDrink", "Cart", FormMethod.Post, htmlAttributes: new { @class = "myFormDrink" })) 
                                            {
                                                @Html.AntiForgeryToken()
                                                @Html.Hidden("DrinkId", drink.Id)
                                                <div class="form-group text-right addtoCartButton pr-2">
                                                    <input type="submit" value="Add to Cart" class="genric-btn primary circle arrow" />
                                                </div>
                                            }
                                        </div>
                                    </div>
                                }
                            </div>
                        </div>
                    </div>


                </div>
            </div>
        </div>
    </div>
</section>

<!-- Modal -->
<div class="modal fade" id="burgerModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            </div>
            <div class="modal-body">



                @Html.Partial("_MakeYourOwnBurger", BurgerServices.GetBurger())




            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <script>

        var count = parseInt($("#cartSpan").text());
        $(window).on('resize', function () {
            if ($(window).width() < 768) {
                $('.addtoCartButton').addClass("text-center");
                $('.addtoCartButton').removeClass("text-right");
            } else {
                $('.addtoCartButton').addClass("text-right");
                $('.addtoCartButton').removeClass("text-center");
            }
        })

        $(function () {
            $(document).ajaxError(function (e, xhr) {
                if (xhr.status == 403) {
                    var response = $.parseJSON(xhr.responseText);
                    window.location = response.LogOnUrl;
                }
            });
        });

        $(".myFormBurger").on('submit', function (event) {
            event.preventDefault();
            var id = parseInt($(this).children("#BurgerId").val());
            $.ajax({
                type: 'POST',
                data: { BurgerId: id },
                url: '@Url.Action("AddToCartBurger", "Cart")',
                success: function (data) {
                    count = count + 1;
                    $("#cartSpan").text(count);
                    $("#cartSpan").animate({ fontSize: '14px'});
                    $("#cartSpan").animate({fontSize: '12px'});

                }
            });
        });

        $(".myFormDrink").on('submit', function (event) {
            event.preventDefault();
            var id = parseInt($(this).children("#DrinkId").val());
            $.ajax({
                type: 'POST',
                data: { DrinkId: id },
                url: '@Url.Action("AddToCartDrink", "Cart")',
                success: function (data) {
                    count = count + 1;
                    $("#cartSpan").text(count);
                    $("#cartSpan").animate({ fontSize: '14px'});
                    $("#cartSpan").animate({fontSize: '12px'});

                }
            });
        });

    </script>
}