@model beeftechee.Entities.Order
@{
    ViewBag.Title = "Shopping Cart";
}


    <div class="container myMarginTop">
        <div class="section_tittle">
            <h2>Thank you for your order!</h2>
        </div>

        <h4>Details of Order</h4>

        <table class="table">
            <tr>
                <th>
                    User Name
                </th>
                <th>
                    Date of Order
                </th>
                <th>
                    Total Price
                </th>
                <th>
                    Burgers
                </th>
                <th>
                    Drinks
                </th>
            </tr>

            <tr>
                <td>
                    @Model.UserName
                </td>
                <td>
                    @Model.OrderDate
                </td>
                <td>
                    @Model.TotalPrice
                </td>
                <td>
                    @foreach (var burger in Model.OrderBurgers)
                    {
                        <small><strong>@burger.Name</strong> </small>
                        <small>(@burger.Quantity) </small>
                        <small>@burger.BreadName </small>
                        <small>@burger.MeatName </small>
                        <small>@burger.SauceName </small>
                        <small>@burger.VeggieName </small>
                        <small>@burger.CheeseName </small>
                    }
                </td>
                <td>
                    @foreach (var drink in Model.OrderDrinks)
                    {
                        <small><strong>@drink.Name</strong> </small>
                        <small>(@drink.Quantity) </small>
                        <small>@drink.Litre </small>
                    }
                </td>
            </tr>
        </table>
        <div class="pb-5 pt-5">
        </div>
    </div>